@import "../../utils/common.scss";

.btn {
  @extend .noDecoration;
  font-size: 16px;
  padding: 0.7em 2em !important;
  border: 1px solid var(--clr-txt-dark);
  color: var(--clr-primary);
  font-weight: 600;
  background-color: white;
  background-color: transparent;
  transition: 0.3s ease-out;
  transition-property: background-color color;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-primary);
    color: var(--clr-txt-light);
  }
}
.dark {
  background-color: var(--clr-primary);
  color: var(--clr-txt-light);
  &:hover {
    background-color: white;
    color: var(--clr-primary);
  }
}
